@page
@model BookingManagement.User.Razor.Pages.RoomList.DetailsModel
@{
    ViewData["Title"] = "Room Details";
}

<div class="room-details-container">
    <h4 class="room-details-header">Room Details</h4>
    <hr />
    <div class="room-details">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Room.RoomName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Room.RoomName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Room.Capacity)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Room.Capacity) people
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Room.RoomType)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Room.RoomType)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Room.Building)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Room.Building)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Room.Description)
            </dt>
            <dd class="col-sm-9 room-description">
                @Html.DisplayFor(model => model.Room.Description)
            </dd>
            <dt class="col-sm-3">
                Hình ảnh
            </dt>
            <dd class="col-sm-9">
                @if (!string.IsNullOrEmpty(Model.Room.ImageUrl))
                {
                    <img src="@Model.GetDirectImageUrl(Model.Room.ImageUrl)" alt="Room Image" class="room-image" style="max-width: 400px; max-height: 300px;" />
                }
                else
                {
                    <div class="no-image">No image available</div>
                }
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Room.Status)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Room.Status)
            </dd>
        </dl>
    </div>
    <div class="action-buttons">
        <a asp-page="./BookingRoom/" asp-route-id="@Model.Room.RoomId" class="btn-action btn-booking">Book This Room</a>
        <a asp-page="./Index" class="btn-action btn-back">Back to List</a>
    </div>
</div>