@page
@model BookingManagement.User.Razor.Pages.BookingRoom.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Room.RoomName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TimeSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotDto.DisplayText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.RejectReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.RejectReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.IsRecurring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.IsRecurring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndRecurringDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndRecurringDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Status)
        </dt>
        <dd class="col-sm-10">
            @Model.GetStatusText(Model.Booking.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.BookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
