@page
@model BookingManagement.User.Razor.Pages.BookingRoom.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lịch của tôi</h1>

<table class="table">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
            <tr class="text-center">
            <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot.TimeSlotId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            @* <td> *@
            @*         @Html.DisplayFor(modelItem => item.RejectReason) *@
            @* </td> *@
            @* <td> *@
            @*         @Html.DisplayFor(modelItem => item.IsRecurring) *@
            @* </td> *@
            @* <td> *@
            @*         @Html.DisplayFor(modelItem => item.EndRecurringDate) *@
            @* </td> *@
            <td>
                @Model.GetStatusText(item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Cancel</a>
            </td>
        </tr>
}
    </tbody>
</table>
